<div class="all">
<!--   <div class="leftBar">
    <mat-toolbar class="logo">
      <mat-toolbar-row>
    
      </mat-toolbar-row>
      <mat-toolbar-row>
        <a routerLink="/clientes"> Clientes</a>
      </mat-toolbar-row>
    </mat-toolbar>
  </div> -->
  <div class="rightBar">
    <div class="topBar">
      <a class="custom-link" routerLink="/clientes">BANCO UNION TEST</a>
<!--       <p class="sublogo">EXAMEN TECNICO</p> -->
    </div>
    <div class="botomBar">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>